
       <section class="section section-top2">
            <div class="section hero-top2"  >
                <div class="container"    >
                    <div class="row align-items-center hero-main" >
                        <div class="col-md-6 col-12 hero-left">   <br>                     
                            <h6 class="hero-sub-title">Dealer Management Center</h6>
                            <h1 class="hero-main-title2">Retail Vehicles 100% Online</h1>
                            <div class="button-area"  >
                                <button class="btn btn-request">Request Demo</button> <button class="btn btn-more">Learn More</button>
                            </div>                  
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"></div>
                         <div class="col-md-6 col-12 hero-right">                         
                            <div class="description">
                                <p class="hero-description22">With Auto Center, you can quickly and efficiently track and manage your inventory. </p> <br>
                                <p class="hero-description33">That means real-time updates both in-house and online when you obtain or sell vehicles. Your staff and customers will always know what’s available without having to double-check if your system has been updated yet.  </p>  
                            </div>                
                        </div>
                    </div>
                </div>
            </div>
            <div class="video-div">
                   <div class=" container">
                       <div class="row">
                     
                    <div class="col-md-12 col-12">
                        <video width="100%" controls>
                          <source src="movie.mp4" type="video/mp4">
                          <source src="movie.ogg" type="video/ogg">
                        Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
                   </div>
            </div>
        </section>
<div class="row red-row" >
                <div class="col-md-3"></div>
                <div class="col-md-6"><p class="text-white-center">All in one platform that connects customers dealers & lenders</p></div>
</div>
<div class="row blue-row"  >
                <div class="col-md-4"></div>
                <div class="col-md-4"><div class="center-button"><button class="btn " id="btn-started-today">Get started Today!</button>   </div></div>
</div>

<app-testimonials></app-testimonials>
    <section class="section section-featured">
        <div class="container">
            <div class="row align-items-center featured-main">
                <div class="col-md-6">
                    <h2 class="featured-title">Featured</h2>
                </div>
                <div class="col-md-6">                    
                    <ul class="nav nav-pills featured-nav-tab">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="pill" href="#featured-tab">Popular</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="pill" href="#menu1">Recent</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="pill" href="#menu2">Featured</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane container active" id="featured-tab"></div>
                        <!-- <div class="tab-pane container fade" id="menu1">...</div>
                        <div class="tab-pane container fade" id="menu2">...</div> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="featured-grid-main" id="featured-tab">
                        <app-featured-cars></app-featured-cars>
                        <app-featured-cars></app-featured-cars>
                        <app-featured-cars></app-featured-cars>
                        <app-featured-cars></app-featured-cars>
                    </div>
                </div>
            </div>
        </div>
      
    </section>

 

 

