
<div class="row form-page mt-5">
  <div class="col-md-10 offset-md-1 col-sm-6 p-3 mt-5">
      <div class="card">
          <div class="card-body p-5">
            <h3 style="line-height: 1.5;"><strong>About Us - Auto Center: Driving Innovation for a Customer-Centric Experience</strong></h3>
            <p><br></p>
            <p style="line-height: 1.5;">Welcome to Auto Center, the comprehensive customer-centric platform dedicated to getting you behind the wheel and onto the open road. We are passionate about revolutionizing the car industry by uniting dealers, lenders, and consumers in a single, user-friendly online marketplace.</p>
            <p style="line-height: 1.5;">At Auto Center, our mission is clear: we want to simplify your car-buying journey and help you find your dream vehicle with total peace of mind. By connecting you with our vast network of reputable dealerships, we strive to offer an unparalleled car shopping experience that exceeds your expectations.</p>
            <p style="line-height: 1.5;">We bridge the gap between buyers and sellers through our strong relationships with the dealer community, which enables us to provide you with an extensive selection of car purchases and leases at exceptional value. Our commitment to forging partnerships with established dealerships ensures that you can enjoy the benefits of simple savings, security, and support throughout the entire process.</p>
            <p style="line-height: 1.5;">As a team of dedicated automotive enthusiasts and industry experts, we pride ourselves on staying ahead of the curve by constantly innovating and enhancing our platform to better serve your needs. With Auto Center by your side, you can confidently drive off into the sunset, knowing that we&apos;ve got your back every mile of the way.</p>
            <p style="line-height: 1.5;"><br></p>
            <p style="line-height: 1.5; text-align: center;">
              <video height="340" controls="controls" onclick="this.play()" preload="metadata">
                <source type="video/mp4" src="https://autocenterblopstorage.blob.core.windows.net/auto-center-admin/static resources/about_us.mp4">
              </video>
            </p>
            <p><br></p>
          </div>
      </div>
    </div>
</div>
