<header class="site-header fixed-top" style="display: none;">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" routerLink="/">
        <img src="assets/images/auto-center-logo.png" class="img-fluid" alt="">
      </a>
      <div class="navbar-nav ms-auto">
        <div class="header-right">
          <a href="#" class="user-name"></a>
          <a href="#"><img src="assets/images/avatar_img.png" class="img-fluid user-img" alt=""></a>
          <a href="#" class="btn btn--header">Log Out</a>
        </div>
      </div>

    </div>
  </nav>
</header>

<header class="header-marketplace d-none" id="header">
  <div class="header-top" style="display: none;">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="contact-detail">
            <ul>
              <li><a href="#"><img src="images/marketplace-header-phone-ic.svg" alt="">+1 (469) 969-0400</a></li>
              <li><a href="#"><img src="images/marketplace-header-location-ic.svg" alt="">3117 Saturn Rd, Garland, TX
                75041</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="header-marketplace-top-social">
            <ul>
              <li><a target="__blank" href="https://www.facebook.com/autocenterapp"><i
                class="fa-brands fa-facebook-f"></i></a></li>
              <li><a target="__blank" href="https://twitter.com/autocenterapp"><i class="fa-brands fa-twitter"></i></a>
              </li>
              <li><a target="__blank" href="https://www.instagram.com/officialautocenter"><i
                class="fa-brands fa-instagram"></i></a></li>
              <li><a target="__blank" href="https://www.linkedin.com/company/autocenterapp"><i
                class="fa-brands fa-linkedin-in"></i></a></li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-menubar">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" routerLink="/">
          <img src="assets/images/header_logo.png" class="img-fluid" alt="">
        </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbar-content">
          <div class="hamburger-toggle">
            <div class="hamburger">
              <i class="fa-solid fa-bars"></i>
            </div>
          </div>
        </button>
        <div class="collapse navbar-collapse" id="navbar-content">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
            </li>


            <!--                  <li class="dropend">-->
            <!--                  <a href="#" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside">Submenu Right</a>-->
            <!--                  <ul class="dropdown-menu">-->
            <!--                      <li><a class="dropdown-item" href=""> Second level 1</a></li>-->
            <!--                      <li><a class="dropdown-item" href=""> Second level 2</a></li>-->
            <!--                      <li><a class="dropdown-item" href=""> Second level 3</a></li>-->
            <!--                      <li class="dropend">-->
            <!--                      <a href="#" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside">Let's go deeper!</a>-->
            <!--                      <ul class="dropdown-menu dropdown-submenu">-->
            <!--                          <li><a class="dropdown-item" href=""> Third level 1</a></li>-->
            <!--                          <li><a class="dropdown-item" href=""> Third level 2</a></li>-->
            <!--                          <li><a class="dropdown-item" href=""> Third level 3</a></li>-->
            <!--                          <li><a class="dropdown-item" href=""> Third level 4</a></li>-->
            <!--                          <li class="dropend">-->
            <!--                          <a href="#" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Still don't have enough? Go much deeper!</a>-->
            <!--                          <ul class="dropdown-menu dropdown-submenu">-->
            <!--                              <li><a class="dropdown-item" href=""> Third level 1</a></li>-->
            <!--                              <li><a class="dropdown-item" href=""> Third level 2</a></li>-->
            <!--                              <li><a class="dropdown-item" href=""> Third level 3</a></li>-->
            <!--                              <li><a class="dropdown-item" href=""> Third level 4</a></li>-->
            <!--                              <li><a class="dropdown-item" href=""> Third level 5</a></li>-->
            <!--                          </ul>-->
            <!--                          </li>-->
            <!--                      </ul>-->
            <!--                      </li>-->
            <!--                      <li><a class="dropdown-item" href=""> Third level 5</a></li>-->
            <!--                  </ul>-->
            <!--                  </li>-->
            <!--                  <li><hr class="dropdown-divider"></li>-->
            <!--                  <li><a class="dropdown-item" href="#">Something else here</a></li>-->
            <!--              </ul> &ndash;&gt;-->
            <!--            </li>-->
            <!--            <li class="nav-item dropdown dropdown-mega position-static">-->
            <!--              <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Menu-->
            <!--                Number 3</a>-->
            <!--              &lt;!&ndash; <div class="dropdown-menu">-->
            <!--                  <div class="mega-content px-4">-->
            <!--                  <div class="container-fluid">-->
            <!--                      <div class="row">-->
            <!--                      <div class="col-12 col-sm-4 col-md-3 py-4">-->
            <!--                          <h5>Pages</h5>-->
            <!--                          <div class="list-group">-->
            <!--                          <a class="list-group-item" href="#">Accomodations</a>-->
            <!--                          <a class="list-group-item" href="#">Terms & Conditions</a>-->
            <!--                          <a class="list-group-item" href="#">Privacy</a>-->
            <!--                          </div>-->
            <!--                      </div>-->
            <!--                      <div class="col-12 col-sm-4 col-md-3 py-4">-->
            <!--                          <h5>Card</h5>-->
            <!--                          <div class="card">-->
            <!--                      <img src="https://via.placeholder.com/320x180" class="img-fluid" alt="image">-->
            <!--                      <div class="card-body">-->
            <!--                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
            <!--                      </div>-->
            <!--                  </div>-->
            <!--                      </div>-->
            <!--                      <div class="col-12 col-sm-4 col-md-3 py-4">-->
            <!--                          <h5>Lot of Pages</h5>-->
            <!--                          <p>Lorem ipsum dolo sit achmet muhamed borlan de irtka.-->
            <!--                      </div>-->
            <!--                      <div class="col-12 col-sm-12 col-md-3 py-4">-->
            <!--                          <h5>Damn, so many</h5>-->
            <!--                          <div class="list-group">-->
            <!--                          <a class="list-group-item" href="#">Accomodations</a>-->
            <!--                          <a class="list-group-item" href="#">Terms & Conditions</a>-->
            <!--                          <a class="list-group-item" href="#">Privacy</a>-->
            <!--                          </div>-->
            <!--                      </div>-->
            <!--                      </div>-->
            <!--                  </div>-->
            <!--                  </div>-->
            <!--              </div> &ndash;&gt;-->
            <!--            </li>-->
            <li class="nav-item">
              <a class="nav-link" routerLink="marketplace">Marketplace</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="dealerships">Dealerships</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="checkIfLogin()?'/offers':'/signin'">My Offers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="checkIfLogin()?'/saved-vehicles':'/signin'">Saved Vehicles</a>
            </li>
          </ul>
          <div class="d-flex ms-auto" *ngIf="checkIfLogin()">
            <div class="header-menubar-right d-flex justify-content-end">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle1 " href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                    <a href="#" class="marketplace-user-name">{{getUserName()}}</a>&nbsp;
                    <!-- <img src="assets/images/avatar_img.png"
                    class="img-fluid marketplace-user-img" alt=""> -->
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" routerLink="profile">Profile</a></li>
                    <li><a class="dropdown-item" href="#">Sell your Car</a></li>
                    <li><a class="dropdown-item" href="#" (click)="logout()">Logout</a></li>
                  </ul>
              </ul>
              <!-- <a (click)="openChatModal()" class="btn btn--marketplace-header">
                <img src="assets/images/marketplace_mail_open_ic.svg" class="img-fluid" alt="">Messages
              </a> -->
            </div>
          </div>
          <div class="d-flex ms-auto" *ngIf="!checkIfLogin()">
            <div class="header-menubar-right">
              <a style="font-size: 16px" routerLink="/signin" class="btn  btn--marketplace-header">
                <i class="fa fa-sign-in"></i> &nbsp;
                Login
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>

<header class="header web-header border-1" id="desktop-header">
  <div class="header__container">
    <div class="header__menu menu">
      <a href="" class="header__logo"><img src="assets/images/Marketplace Logo.png" alt="logo" width="200px"></a>
      <button type="button" class="menu__icon icon-menu"><span></span></button>
      <nav class="menu__body" data-da=".header__mobile-menu, 768">
        <ul class="menu__list">
          <li>
            <a routerLink="/">Home</a>
          </li>
          <li>
            <a routerLink="marketplace">Marketplace</a>
          </li>
          <li>
            <a routerLink="dealerships">Dealerships</a>
          </li>
          <li>
            <a [routerLink]="checkIfLogin()?'/offers':'/signin'">My Offers</a>
          </li>
          <li>
            <a [routerLink]="checkIfLogin()?'/saved-vehicles':'/signin'">Saved Vehicles</a>
          </li>

        </ul>
      </nav>
      <div class="d-flex ms-auto" *ngIf="checkIfLogin()">
        <div class="header-menubar-right">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle1 d-flex justify-content-center  align-items-center" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                <a href="#" class="marketplace-user-name me-2">{{getUserName()}}</a>&nbsp;
                 <img src="{{userProfile?userProfile:profileLogo}}"
                class="img-fluid marketplace-user-img" alt="">
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="profile">Profile</a></li>
                <!-- <li><a (click)="openChatModal()" class="btn btn--marketplace-header">
                  <img src="assets/images/marketplace_mail_open_ic.svg" class="img-fluid d-none" alt="">Messages
                </a></li> -->
                <li><a class="dropdown-item" href="#">Sell your Car</a></li>
                <li><a class="dropdown-item" href="#" (click)="logout()">Logout</a></li>
              </ul>
          </ul>

        </div>
      </div>
      <a routerLink="/signin" class="header__user-button" data-da=".header__mobile-menu, 768, 0" *ngIf="!checkIfLogin()">
        Sign In
      </a>
    </div>
  </div>
</header>

<nav class=" navbar navbar-expand-lg  navbar-light bg-white fixed-top mobile-header" id="mobile-header">
  <div class="container-fluid p-3 d-flex justify-content-between">
    <a href="" class="header__logo navbar-brand"><img src="assets/images/Marketplace Logo.png" width="230px" alt="logo"></a>
    <button class="navbar-toggler float-right" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mt-2" id="collapsibleNavbar">
      <ul class="navbar-nav w-100 d-flex justify-content-evenly align-self-center">
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link " routerLink="/">Home</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link" routerLink="marketplace">Marketplace</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link" routerLink="dealerships">Dealerships</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link" [routerLink]="checkIfLogin()?'/offers':'/signin'">My Offers</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link " [routerLink]="checkIfLogin()?'/saved-vehicles':'/signin'">Saved Vehicles</a>
        </li>
        <li *ngIf="!checkIfLogin()">
          <a routerLink="/signin" class="header__user-button color-white"  >
            Sign In
          </a>
        </li>

        <li *ngIf="checkIfLogin()" class="nav-item sub-menu"><a class="nav-link" routerLink="profile">Profile</a></li>
        <!-- <li *ngIf="checkIfLogin()" class="nav-item sub-menu"><a (click)="openChatModal()" class="nav-link">Messages</a></li> -->
        <li *ngIf="checkIfLogin()" class="nav-item sub-menu"><a class="nav-link" href="#">Sell your Car</a></li>
        <li *ngIf="checkIfLogin()" class="nav-item sub-menu"><a class="nav-link" href="#" (click)="logout()">Logout</a></li>

      </ul>
    </div>

  </div>
</nav>
