<div class="row form-page mt-5">
  <div class="col-md-10 offset-md-1 col-sm-6 p-3 mt-5">
    <div class="card">
      <div class="card-body p-5">
        <h2 class="footer-title mt-2">Privacy Policy</h2>
        <p style="line-height: 1.5;">Last Updated: April 1, 2023</p>
        <p style="line-height: 1.5;">&nbsp;</p>
        <p style="line-height: 1.5;">This Privacy Policy (&quot;Policy&quot;) describes how Auto Center collects, uses,
          and discloses your personal information when you use our website, mobile applications, and other online
          services (collectively, the &quot;Platform&quot;). By using the Platform, you agree to the collection, use,
          and disclosure of your personal information in accordance with this Policy. If you do not agree with this
          Policy, please do not use the Platform.</p>
        <p style="line-height: 1.5;">&nbsp;</p>
        <p><strong><span style="font-size: 22px;">1. Information We Collect</span></strong></p>
        <ol style="list-style-type: lower-alpha;">
          <li style="line-height: 1.5;">Information You Provide: We collect personal information that you provide to us
            when you create an account, complete a profile, make a purchase, upload or share content, or otherwise
            interact with the Platform. This may include your name, email address, phone number, shipping address,
            payment information, and social media account information.
          </li>
          <li style="line-height: 1.5;">Content and Usage Information: We collect information about your activities on
            the Platform, such as the content you post, the features you use, and the interactions you have with others.
          </li>
          <li style="line-height: 1.5;">Device and Connection Information: We collect information about the device you
            use to access the Platform, including your device&apos;s unique identifier, IP address, browser type,
            operating system, and mobile network information&nbsp;
          </li>
          <li style="line-height: 1.5;">Location Information: We may collect information about your location using
            various technologies, such as GPS, Wi-Fi, and IP address.
          </li>
          <li style="line-height: 1.5;">Cookies and Similar Technologies: We use cookies, web beacons, and similar
            technologies to collect information about your use of the Platform, personalize your experience, and deliver
            targeted advertising.
          </li>
        </ol>
        <p style="line-height: 1.5;"><br></p>
        <p><span style="font-size: 22px;"><strong>2. How We Use Your Information</strong></span></p>
        <ol style="list-style-type: lower-alpha;">
          <li style="line-height: 1.5;">Provide and Improve the Platform: We use your information to provide, maintain,
            and improve the Platform and our Services, including to personalize content and make suggestions for you.
          </li>
          <li style="line-height: 1.5;">Communication: We use your information to send you transactional, promotional,
            and other marketing communications, as well as to respond to your comments, questions, and requests.
          </li>
          <li style="line-height: 1.5;">Safety and Security: We use your information to help maintain the safety,
            security, and integrity of the Platform and our Services, including to detect, investigate, and prevent
            fraudulent transactions and other illegal activities.
          </li>
          <li style="line-height: 1.5;">Research and Analytics: We use your information to conduct research and
            analysis, develop new products and features, and measure the effectiveness of our advertising.
          </li>
          <li style="line-height: 1.5;">Legal Obligations and Protection of Rights: We use your information to comply
            with legal obligations, enforce our Terms of Service, and protect the rights, property, and safety of Auto
            Center, our users, and others.
          </li>
        </ol>
        <p style="line-height: 1.5;">&nbsp;</p>
        <p><strong><span style="font-size: 22px;">3. How We Share Your Information</span></strong></p>
        <ol style="list-style-type: lower-alpha;">
          <li style="line-height: 1.5;">&nbsp;With Other Users: Your information, including your name, profile picture,
            and any content you post, may be visible to other users of the Platform.
          </li>
          <li style="line-height: 1.5;">With Service Providers: We share your information with service providers that
            help us operate the Platform and provide our Services, such as payment processors, shipping providers, and
            data analytics providers.
          </li>
          <li style="line-height: 1.5;">With Third-Party Partners: We share your information with third-party partners
            for marketing, advertising, and analytics purposes, as well as for offering joint products and services.
          </li>
          <li style="line-height: 1.5;">Legal and Safety Reasons: We may share your information in response to legal
            requests or to protect the rights, property, or safety of Auto Center, our users, or others.
          </li>
          <li style="line-height: 1.5;">Business Transfers: We may share your information in connection with a merger,
            acquisition, or sale of assets, or if it&apos;s necessary to protect the interests of Auto Center.
          </li>
        </ol>
        <p style="line-height: 1.5;">&nbsp;</p>
        <p style="line-height: 1.5;"><strong><span
          style="font-size: 22px;">4. Data Retention and Deletion</span></strong><br>We retain your personal information
          for as long as necessary to provide the Platform and our Services, comply with legal obligations, resolve
          disputes, and enforce our agreements. You can request the deletion of your personal information by contacting
          us.<br><a href="mailto:support@autocenter.com">support@autocenter.com</a><br>Your Rights and Choices</p>
      </div>
    </div>
  </div>
</div>
