<!--<img src="assets/images/demo-cover.png" width="100%">-->

<div class="row form-page section-dashbord-main">
  <div class="col-md-4">
  </div>
  <div class="col-md-4 col-12 demo-form" >
    <main class="section  " >
      <section class="section ">
        <div class="container">
          <h1 class="request-note">Create Password</h1> <br>
          <div class="row">
            <div class="col-md-12 col-12">
              <label class="d-form-label">New Password</label>
              <div class="input-field">
                <input type="Password" class="form-control d-input-f" placeholder="Enter New Password">
              </div>
            </div>
            <div class="col-md-12 col-12">
              <label class="d-form-label">Confirm Password</label>
              <div class="input-field">
                <input type="Password" class="form-control d-input-f" placeholder="Enter Confirm Password">
              </div>
            </div>


            <div class="col-md-12">
              <button routerLink="/signin" class="btn btn-demo-started">Update</button>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>
