<div class="car-categories-gridbox-main text-center">
    <div class="car-categories-grid-box">
        <img src=" assets/images/car-categories-1.svg" alt="" class="img-fluid">
        <p class="car-categories active">Compact</p>
        <p class="car-categories-listing">12 Listings</p>
    </div>
    <div class="car-categories-grid-box">
        <img src=" assets/images/car-categories-2.svg" alt="" class="img-fluid">
        <p class="car-categories">Sedan</p>
        <p class="car-categories-listing">24 Listings</p>
    </div>
    <div class="car-categories-grid-box">
        <img src=" assets/images/car-categories-3.svg" alt="" class="img-fluid">
        <p class="car-categories">SUV</p>
        <p class="car-categories-listing">675 Listings</p>
    </div>
    <div class="car-categories-grid-box">
        <img src=" assets/images/car-categories-4.svg" alt="" class="img-fluid">
        <p class="car-categories">Convertible</p>
        <p class="car-categories-listing">543 Listings</p>
    </div>
    <div class="car-categories-grid-box">
        <img src=" assets/images/car-categories-5.svg" alt="" class="img-fluid">
        <p class="car-categories">Coupe</p>
        <p class="car-categories-listing">99 Listings</p>
    </div>
</div>