<img src="assets/images/demo-cover.png" width="100%">

<div class="row section-dashbord-main">
  <div class="col-md-4">
  </div>
  <div class="col-md-4 col-12 demo-form">
      <main class="section section-main demo-form-iner" >
      <section class="section ">
          <div class="container">
                        <h1 class="request-note">Request Demo</h1> <br>
                        <div class="row">
                          <div class="col-md-12 col-12">
                              <label class="d-form-label">Dealership Name</label>
                                  <div class="input-field">
                                      <input type="text" class="form-control d-input-f" placeholder="Dealership Name">
                                  </div>
                          </div>
                          <div class="col-md-6 col-12">
                              <label class="d-form-label">First Name</label>
                                  <div class="input-field">
                                      <input type="text" class="form-control d-input-f" placeholder="First Name">
                                  </div>
                          </div>
                          <div class="col-md-6 col-12">
                              <label class="d-form-label">Last Name</label>
                                  <div class="input-field">
                                      <input type="text" class="form-control d-input-f" placeholder="Last Name">
                                  </div>
                          </div>
                           <div class="col-md-6 col-12">
                              <label class="d-form-label">Email Address</label>
                                  <div class="input-field">
                                      <input type="email" class="form-control d-input-f" placeholder="Email">
                                  </div>
                                 <p class="d-text"> Your email is <a href="#" class="d-text-link">safe with us</a></p>
                          </div>
                          <div class="col-md-6 col-12">
                              <label class="d-form-label">Phone Number</label>
                                  <div class="input-field">
                                      <input type="Number" class="form-control d-input-f" placeholder="Phone Number">
                                  </div>
                          </div>
                          <div class="col-md-6 col-12">
                              <label class="d-form-label">Zip Code</label>
                                  <div class="input-field">
                                      <input type="email" class="form-control d-input-f" placeholder="Zip Code">
                                  </div>

                          </div>
                          <div class="col-md-6 col-12">
                              <label class="d-form-label">Used Inventory Size</label>
                                  <div class="input-field">
                                     <select class="form-select form-select-lg d-input-s" required>
                                         <option value="" disabled selected hidden >Used Inventory Size</option>
                                         <option>Under 25</option>
                                         <option>Under 50</option>
                                         <option>Under 100</option>
                                         <option>Over 100</option>
                                         <option>Over 200</option>
                                     </select>
                                  </div>
                          </div>

                          <div class="col-md-12">
                              <button class="btn btn-demo-started">Get Started</button>
                          </div>
                          <div class="col-md-12">
                              <p class="d-text"> If you are not a dealer but are interested in advertising on Auto Center,<br> <a href="#" class="d-text-link2">please send us a message here.</a></p>
                          </div>
                        </div>
          </div>
      </section>
      </main>

  </div>

</div>
