
<div class=" container">
    <br>
       <div class="row">
        <div class="col-md-4 ">
               <div class="dashbord-left ">
                        <div class="dealerships-dashbord-left-inner-main">
                            <div class="dealerships-dashbord-left-location">
                                <div class="search-bar">
                                    <input type="text" class="form-control search-box" name="" placeholder="Search">
                                </div>
                                <div class="inbox-list">
                                    <div class="inbox-list-item">
                                        <img src="assets/images/testimonial-1.png" class="img-fluid inbox-img" alt="">
                                        <div class="person-detail">
                                            <h4 class="ib-person-name">Darlene Robertson</h4>
                                            <h4 class="ib-person-msg">Head of Auto Center</h4>
                                        </div>
                                        <div class="person-detail2">
                                            <h4 class="ib-person-time">35 mins</h4>
                                            <h4><div class="msg-count">1</div> </h4>
                                        </div>
                                    </div>
                                    <div class="inbox-list-item">
                                        <img src="assets/images/testimonial-1.png" class="img-fluid inbox-img" alt="">
                                        <div class="person-detail">
                                            <h4 class="ib-person-name">Darlene Robertson</h4>
                                            <h4 class="ib-person-msg">Head of Auto Center</h4>
                                        </div>
                                        <div class="person-detail2">
                                            <h4 class="ib-person-time">35 mins</h4>
                                            <h4><div class="msg-count">1</div> </h4>
                                        </div>
                                    </div>
                                    <div class="inbox-list-item">
                                        <img src="assets/images/testimonial-1.png" class="img-fluid inbox-img" alt="">
                                        <div class="person-detail">
                                            <h4 class="ib-person-name">Darlene Robertson</h4>
                                            <h4 class="ib-person-msg">Head of Auto Center</h4>
                                        </div>
                                        <div class="person-detail2">
                                            <h4 class="ib-person-time">35 mins</h4>
                                            <h4><div class="msg-count">1</div> </h4>
                                        </div>
                                    </div>
                                    <div class="inbox-list-item">
                                        <img src="assets/images/testimonial-1.png" class="img-fluid inbox-img" alt="">
                                        <div class="person-detail">
                                            <h4 class="ib-person-name">Darlene Robertson</h4>
                                            <h4 class="ib-person-msg">Head of Auto Center</h4>
                                        </div>
                                        <div class="person-detail2">
                                            <h4 class="ib-person-time">35 mins</h4>
                                            <h4><div class="msg-count">1</div> </h4>
                                        </div>
                                    </div>
                                    <div class="inbox-list-item">
                                        <img src="assets/images/testimonial-1.png" class="img-fluid inbox-img" alt="">
                                        <div class="person-detail">
                                            <h4 class="ib-person-name">Darlene Robertson</h4>
                                            <h4 class="ib-person-msg">Head of Auto Center</h4>
                                        </div>
                                        <div class="person-detail2">
                                            <h4 class="ib-person-time">35 mins</h4>
                                            <h4><div class="msg-count">1</div> </h4>
                                        </div>
                                    </div>
                                    <div class="inbox-list-item">
                                        <img src="assets/images/testimonial-1.png" class="img-fluid inbox-img" alt="">
                                        <div class="person-detail">
                                            <h4 class="ib-person-name">Darlene Robertson</h4>
                                            <h4 class="ib-person-msg">Head of Auto Center</h4>
                                        </div>
                                        <div class="person-detail2">
                                            <h4 class="ib-person-time">35 mins</h4>
                                            <h4><div class="msg-count">1</div> </h4>
                                        </div>
                                    </div>
                                    <div class="inbox-list-item">
                                        <img src="assets/images/testimonial-1.png" class="img-fluid inbox-img" alt="">
                                        <div class="person-detail">
                                            <h4 class="ib-person-name">Darlene Robertson</h4>
                                            <h4 class="ib-person-msg">Head of Auto Center</h4>
                                        </div>
                                        <div class="person-detail2">
                                            <h4 class="ib-person-time">35 mins</h4>
                                            <h4><div class="msg-count">1</div> </h4>
                                        </div>
                                    </div>
                                    <div class="inbox-list-item">
                                        <img src="assets/images/testimonial-1.png" class="img-fluid inbox-img" alt="">
                                        <div class="person-detail">
                                            <h4 class="ib-person-name">Darlene Robertson</h4>
                                            <h4 class="ib-person-msg">Head of Auto Center</h4>
                                        </div>
                                        <div class="person-detail2">
                                            <h4 class="ib-person-time">35 mins</h4>
                                            <h4><div class="msg-count">1</div> </h4>
                                        </div>
                                    </div>
                                    <div class="inbox-list-item">
                                        <img src="assets/images/testimonial-1.png" class="img-fluid inbox-img" alt="">
                                        <div class="person-detail">
                                            <h4 class="ib-person-name">Darlene Robertson</h4>
                                            <h4 class="ib-person-msg">Head of Auto Center</h4>
                                        </div>
                                        <div class="person-detail2">
                                            <h4 class="ib-person-time">35 mins</h4>
                                            <h4><div class="msg-count">1</div> </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                </div>
        </div>
         <div class="col-md-8">
               <div class="dashbord-left">
                        <div class="dealerships-dashbord-left-inner-main">
                            <div class="dealerships-dashbord-left-location">
                              <div class="inbox-list-item2">
                                        <img src="assets/images/testimonial-1.png" class="img-fluid inbox-img" alt="">
                                        <div class="person-detail">
                                            <h4 class="ib-person-name2">Darlene Robertson</h4>
                                            <h4 class="ib-person-online-status">Active</h4>
                                        </div>
                                        <div class="person-detail2">
                                            <h4 class="ib-person-delete"><a href="#" ><img src="assets/images/delete-icon.svg" class="img-fluid" alt=""></a></h4>
                                        </div>
                                </div>
                                <hr class="line">
                                <div class="chat-box">
                                    <table  id="chat-table">
                                        <tr>
                                            <td>
                                                <div class="recever-message-box">
                                                    <div class="recever-details">
                                                        <img src="assets/images/testimonial-1.png" class="img-fluid inbox-img" alt=""> 
                                                         <h4 class="ib-person-name recever-name">Darlene Robertson  <span class="ib-person-online-status">&nbsp; 35 mins </span></h4>
                                                    </div>
                                                    <p class="recever-message">
                                                        Hey there, we’re just writing to let you know that we are omterested in a car that you have up for sale.
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="sender-message-box">
                                                    <div class="sender-details">
                                                        <img src="assets/images/testimonial-1.png" class="img-fluid inbox-img sender-img" alt=""> 
                                                         <h4 class="ib-person-name sender-name"><span class="ib-person-online-status"> 35 mins &nbsp;</span> You  </h4>
                                                    </div>
                                                    <p class="sender-message">
                                                        Hey there, we’re just writing to let you know that we are omterested in a car that you have up for sale.
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="recever-message-box">
                                                    <div class="recever-details">
                                                        <img src="assets/images/testimonial-1.png" class="img-fluid inbox-img" alt=""> 
                                                         <h4 class="ib-person-name recever-name">Darlene Robertson  <span class="ib-person-online-status">&nbsp; 35 mins </span></h4>
                                                    </div>
                                                    <p class="recever-message">
                                                        Hey there, we’re just writing to let you know that we are omterested in a car that you have up for sale.
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    
                                    
                                    
                                </div>
                                <hr class="line">
                                <div class="chat-input-box">
                                   <div class="row">
                                       <div class="col-md-10">
                                            <input type="text" class="form-control chat-input-field" name="" placeholder="Type a message.....">
                                       </div>
                                       <div class="col-md-2">
                                           <button class="btn btn-send">Send</button>
                                       </div>
                                   </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
        </div>  
       </div>
   </div>