<!--<img src="assets/images/demo-cover.png" width="100%">-->

<div class="row form-page section-dashbord-main position-relative">
  <app-general-loader *ngIf="loadingData" [msg]="'Please wait. Your request is being made!'"></app-general-loader>
  <div class="col-md-4">
  </div>
  <div class="col-md-4 col-12 demo-form">
    <form [formGroup]="requestEmailTokenForm" class="section section-main demo-form-iner">
      <section class="section ">
        <div class="container">
          <h1 class="request-note">Forgot Password</h1> <br>
          <div class="row">
            <div class="col-md-12 col-12">
              <label class="d-form-label">Email</label>
              <div class="input-field">
                <input type="text" formControlName="email" class="form-control d-input-f"
                  placeholder="Enter your Email">
              </div>
              <div class="form-control" *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                class="alert alert-danger">
                <div *ngIf="email?.errors?.['required']">
                  Email is required.
                </div>
                <div *ngIf="email?.errors?.['pattern']">
                  Please enter a valid email address.
                </div>
                <div *ngIf="email?.errors?.['error']">
                  {{email?.errors?.['error']}}
                </div>
              </div>
            </div>            
            <div class="col-md-12">
              <button class="btn btn-demo-started" (click)="requestEmailToken()">Send Email</button>
            </div>
            <div class="col-md-12">
              <p class="d-text"> Already have an account? <a routerLink="/signin" href="login.shtml"
                  class="d-text-link2">
                  Sign In</a></p>
            </div>
          </div>
        </div>
      </section>
    </form>
  </div>
</div>