.buying__form {
    position: initial !important;
    width: 100%;
    height: 50px;
}

.buying__search-button {
    height: 40px;
    width: 40px;
    flex: 0 0 40px;
}

.section-dashbord-main .dashbord-right .dashboard-right-sorting-main {
    margin-bottom: 10px !important;
}

.showing-result {
    padding: 40px 0px 0px !important;
}

.filters-button {
    height: 40px;
    cursor: pointer;
}

.location_wrapper i,
.location_wrapper span {
    color: #5670b8;
}

.location_wrapper {
    display: flex;
    gap: 6px;
    padding-left: 6px;
    cursor: pointer;
}

.modal-header i:focus-visible {
    border: none !important;
}

.btn-demo-started {
    border-radius: 24px;
    height: 40px;
}

.cancel_btn {
    color: black;
    background-color: #f3f5f7;
}

.submit_btn {
    background-color: #B71E1E;
}

.error_msg {
    font-size: 24px !important;
    font-weight: 500 !important;
    line-height: 39px;
    color: #0C2434;
    margin-bottom: 12px;
}


.dropdown-item {
    cursor: pointer;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: black;
    font-weight: bold;
}

.filtersBarOpened {
    background: #0C2434;
}

.filtersBarOpened .filters-button__text {
    color: white !important;
}

@media (max-width: 767px) {
    .section-dashbord-main .container .row .col-md-3 {
        display: block !important;
        width: 100% !important;
    }
}


/* if needed old advance search just replace the code with commit of date 1/28/2023 and name marketPlaceViewChange */
li.disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.btn-dropdown-toggle::after {
    position: initial !important;
}

.dashbord-left-inner-main {
    padding: 5px !important;
    background: #ffffff !important;
    border-radius: 10px !important;
    margin-bottom: 20px;
}

.label_positioning {
    position: absolute;
    top: 0;
    top: -1.2ex;
    background-color: white;
}

.label_positioning_form_control {
    position: absolute;
    background-color: white;
    left: 22px;
    font-weight: 400 !important;
    top: -8px;
}

.btn--dashbord-left-search {
    height: 50px !important;
}

.btn-dropdown-toggle {
    width: 100% !important;
    /* min-width: 240px; */
}

ul {
    max-height: 15em;
    overflow-x: auto;
}

ul li {
    cursor: pointer;
}

ul li a {
    font-weight: 400;
    color: #5f698a;
}

.dropdown-menu {
    width: 100% !important;
    padding: 8px 10px !important;
}

.text-left {
    text-align: left;
}

.btn-dropdown-toggle,
input {
    padding: 10px !important;
    border-radius: 4px !important;
}

.alert-danger {
    padding: 7px 10px !important;
}

.form-select {
    padding: 10px;
    height: 40px;
    border-radius: 5px;
}

.input-field {
    margin-bottom: 8px !important;
}

.loadingDataOverlay {
    border-radius: 4px;
    padding: 10px;
    display: flex;
    align-items: center;
    color: #5F6973;
    font-size: 13px;
    background-color: #daddddab;
    transition: opacity 200ms ease-in-out;
}

.loadingDataOverlay span {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.applied_filters_wrapper {
    color: #053361;
    font-weight: 700;
}

.search_title_wrapper {
    font-size: 13px;
    display: inline-block;
    width: max-content;
    flex-basis: 100%;
    margin: 2px 2px;
    line-height: 1.5;
}

.dashbord-left-main-filter-title {
    margin-bottom: 0px !important;
}

.btn--primary {
    background: #b71e1e;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 15px;
    border-radius: 40px;
    padding: 10px 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.btn--primary:hover {
    background: #0c2434;
    color: #FFFFFF;
}

.input-field .form-control {
    background-color: #FFFFFF;
    padding: 18px 20px;
    border: 1px solid #EAEAEA;
    color: #5F6973;
    border-radius: 8px;
    font-size: 13px;
    line-height: 15px;
}

.input-field .btn-dropdown-toggle {
    background-color: #FFFFFF;
    padding: 18px 20px;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    width: 240px;
    max-width: 100%;
    font-size: 13px;
    line-height: 15px;
    text-transform: capitalize;
    color: #5F6973;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-check {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.form-check .form-check-input {
    width: 18px;
    height: 18px;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
}

.form-check .form-check-label {
    font-size: 13px;
    line-height: 41px;
    text-transform: capitalize;
    color: #5F6973;
    margin-left: 10px;
}

/* modal designs starts */
@media all and (max-width: 991px) {
    .dashbord-left-inner-main {
        border: 1px solid #EAEAEA;
        margin: 5px;
    }
}

/* modal designs ends */
.notification-label {
    position: absolute;
    top: -13px;
    right: 0px;
}

.notification-label {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    font-size: 12px;
    animation: bounceIn 700ms;
    display: flex;
    justify-content: center;
}

.notification-label.notification-label-blue {
    background: #0d47a1;
}
.pulse {
    animation: pulse 1s infinite ease-in-out alternate;
  }
  @keyframes pulse {
    from { transform: scale(0.7); }
    to { transform: scale(1); }
  }


