<!--<app-car-global-filter></app-car-global-filter>-->
<section class="section section-dashbord-main customMinHeight">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-7 d-flex align-items-center market_place_search_styles">
        <div class="filters-button filtersButtonWeb" [ngClass]="showHideSearchFilters?'filtersBarOpened':''"
          style="margin-right: 0.5rem;"
          (click)="advanceSearchOnInIt();this.showHideSearchFilters = !this.showHideSearchFilters; ">          
          <div class="filters-button__text">Filters</div>
          <img src="assets/images/filters.svg" alt="filters" *ngIf="!showHideSearchFilters">
          <img src="assets/images/filters-white.svg" alt="filters" *ngIf="showHideSearchFilters">
        </div>
        <div class="filters-button filtersButtonMob position-relative" [ngClass]="showHideSearchFilters?'filtersBarOpened':''"
          style="margin-right: 0.5rem;" (click)="showHideSearchModalOrSection()">
          <div class="filters-button__text">Filters</div>
          <span *ngIf="lengthOfAppliedFilters>0" class="notification-label notification-label-blue pulse">{{lengthOfAppliedFilters}}</span>
          <img src="assets/images/filters.svg" alt="filters" *ngIf="!showHideSearchFilters">
          <img src="assets/images/filters-white.svg" alt="filters" *ngIf="showHideSearchFilters">
        </div>
        <app-search-against-query class="w-75" (valueChanges)="applySearch()"></app-search-against-query>

        <!-- <div class="location_wrapper" (click)="openLocationModal()">
          <i class="fas fa-map-marker-alt"></i>
          <span>{{(postal_address==undefined || postal_address==null)?'Click':postal_address}}</span>
        </div> -->
        <!-- <div class="dashbord-left">
          <h2 class="dashboard-left-title">The Marketplace</h2>
          <p class="dashboard-left-description">Our current Marketplace Listings</p>
        </div> -->
      </div>
      <div class="col-md-5 d-flex justify-content-end classForSortByMob">
        <div class="dashbord-right">
          <div class="dashboard-right-sorting-main">
            <div class="dashboard-right-sorting-right mt-1">
              <p class="sort-by">Sort by:</p>
              <div class="dropdown">
                <button class="btn btn-dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{currentSelection}}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item"
                      (click)="setSortingValues('created_at','descending','Listing Date: Newest first')">Listing
                      Date:
                      Newest first</a></li>
                  <li><a class="dropdown-item"
                      (click)="setSortingValues('created_at','ascending','Listing Date: Oldest First')">Listing Date:
                      Oldest First</a></li>
                  <li><a class="dropdown-item"
                      (click)="setSortingValues('price','ascending','Price: Lowest first')">Price: Lowest first</a>
                  </li>
                  <li><a class="dropdown-item"
                      (click)="setSortingValues('price','descending','Price: Highest first')">Price: Highest
                      first</a>
                  </li>
                  <li><a class="dropdown-item"
                      (click)="setSortingValues('mileage','ascending','Mileage: Lowest first')">Mileage: Lowest
                      first</a></li>
                  <li><a class="dropdown-item"
                      (click)="setSortingValues('mileage','descending','Mileage: Highest first')">Mileage: Highest
                      first</a></li>
                  <li><a class="dropdown-item"
                      (click)="setSortingValues('year','descending','Car Year: Newest first')">Car Year: Newest
                      first</a></li>
                  <li><a class="dropdown-item"
                      (click)="setSortingValues('year','ascending','Car Year: Oldest first')">Car Year: Oldest
                      first</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- <app-car-listing-tabs (valueChanges)="vehiclesAgainstQuery($event)"></app-car-listing-tabs> -->
      </div>
    </div>
    <!-- <div class="dashbord-left mt-3" *ngIf="!showHideSearchFilters">
      <app-car-listing-filter (searchedResults)="searchedResultsFunction($event)"></app-car-listing-filter>
    </div> -->
    <div class="row testclass">
      <div class="col-md-3" *ngIf="showHideSearchFilters">
        <div class="dashbord-left">
          <!-- if needed old advance search just replace the code with commit of date 1/28/2023 and name marketPlaceViewChange -->
          <div class="modal-header filtersButtonMob">
            <h5 class="modal-title" id="exampleModalLabel">Advance Search Modal</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
          </div>
          <!-- zip code portion starts -->
          <div class="dashbord-left-inner-main modal-body">
            <div class="dashbord-left-inner">
              <div class="dashbord-left-inner-wrapper mb-1">
                <h6 class="dashbord-left-main-filter-title d-flex justify-content-between align-items-center">Zip Code
                  Filter
                  <a (click)="clearFiltersEvent()"
                    class="btn btn--dashbord-left-reset w-auto text-decoration-underline">
                    Reset Filter
                  </a>
                </h6>
                <div class="applied_filters_wrapper">
                  <span class="search_title_wrapper" *ngIf="locationForm.controls.zip_code.value">
                    <span class="searched_title">
                      Zip Code: {{locationForm.controls.zip_code.value}}
                    </span>
                    <i class="fa fa-close"
                      (click)="this.locationForm.controls.zip_code.reset();this.clearFiltersEventFromChild('zipCodeSearch')"></i>
                  </span>
                  <span class="search_title_wrapper"
                    *ngIf="locationForm.controls.radius.value && locationForm.controls.zip_code.value">
                    <span class="searched_title"
                      [ngStyle]="{'border-right':this.locationForm.controls.radius.value!='Nationwide' ? '1px solid black' : 'none' }">
                      Radius:
                      {{locationForm.controls.radius.value=='Nationwide'?locationForm.controls.radius.value:locationForm.controls.radius.value
                      + ' Miles'}}
                    </span>
                    <i *ngIf="this.locationForm.controls.radius.value!='Nationwide'" class="fa fa-close"
                      (click)="this.locationForm.controls.radius.reset();this.locationForm.controls.radius.setValue(this.radiusArray[10]);emitValueToParentToGetVehiclesAGainstZipCode()"></i>
                  </span>
                </div>
                <div class="row" [formGroup]="locationForm">
                  <div class="input-field col-12 ngb_dropdown position-relative">
                    <input formControlName="zip_code" type="text" class="form-control" placeholder="Enter Zip Code">
                    <div class="form-control" *ngIf="zip_code?.invalid && (zip_code?.dirty || zip_code?.touched)"
                      class="alert alert-danger mt-2 mb-0">
                      <div *ngIf="zip_code?.errors?.['required']">
                        Zip code is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="input-field">
                      <select formControlName="radius" class="form-select form-select-lg d-input-s" required>
                        <option *ngFor="let radius of radiusArray" [ngValue]="radius" selected>
                          {{radius=='Nationwide'?radius: radius +' Miles'}}</option>
                      </select>
                    </div>
                  </div>
                  <!-- <div class="dropdown input-field">
          <button class="btn btn-dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{bodyStyle?.name}}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li value="New" class="disabled"><a class="dropdown-item">Select Radius</a></li>
            <li *ngFor="let radius of radiusArray"><a class="dropdown-item">{{radius=='Nationwide'?radius: radius +'
                Miles'}}</a></li>
          </ul>
        </div> -->
                </div>
              </div>
              <div class="dashbord-left-inner-wrapper mb-1">
                <div class="d-grid gap-2">
                  <button *ngIf="!showLoader" (click)="emitValueToParentToGetVehiclesAGainstZipCode()"
                    class="btn btn-lg btn-primary btn--primary" type="button">Apply
                  </button>
                  <button *ngIf="showLoader" style="gap: 15px;" disabled class="btn btn-lg btn-primary btn--primary"
                    type="button">Loading Data
                    <i class="fas fa-spinner fa-spin"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- zip code portion ends -->
          <!-- Advance search portion -->
          <div class="dashbord-left-inner-main modal-body">
            <div class="dashbord-left-inner">
              <div class="dashbord-left-inner-wrapper">
                <h6 class="dashbord-left-main-filter-title d-flex justify-content-between align-items-center">Search
                  Filters
                  <a (click)="resetAllFilters()" class="btn btn--dashbord-left-reset w-auto text-decoration-underline">
                    Reset Filter
                  </a>
                </h6>
                <div class="applied_filters_wrapper">
                  <span class="search_title_wrapper" *ngIf="make!=undefined">
                    <span class="searched_title">
                      {{make?.title}}
                    </span>
                    <i class="fa fa-close" (click)="make=undefined;advanceSearch()"></i>
                  </span>
                  <span class="search_title_wrapper" *ngIf="model!=undefined">
                    <span class="searched_title">
                      {{model?.title}}
                    </span>
                    <i class="fa fa-close" (click)="model=undefined;advanceSearch()"></i>
                  </span>
                  <span class="search_title_wrapper" *ngIf="bodyStyle.name!='Select Body Style'">
                    <span class="searched_title">
                      {{bodyStyle?.name}}
                    </span>
                    <i class="fa fa-close"
                      (click)="bodyStyle={'name': 'Select Body Style','id': 0};advanceSearch()"></i>
                  </span>
                  <span class="search_title_wrapper" *ngIf="condition!='Condition'">
                    <span class="searched_title">
                      {{condition}}
                    </span>
                    <i class="fa fa-close" (click)="condition='Condition';advanceSearch()"></i>
                  </span>
                  <span class="search_title_wrapper" *ngIf="color!=undefined">
                    <span class="searched_title">
                      {{color?.title}}
                    </span>
                    <i class="fa fa-close" (click)="color=undefined;advanceSearch()"></i>
                  </span>
                  <span class="search_title_wrapper" *ngIf="yeargte!='' || yeargte!=''">
                    <span class="searched_title">
                      {{yearlte}} - {{yeargte}}
                    </span>
                    <i class="fa fa-close" (click)="yearlte=''; yeargte = '';advanceSearch()"></i>
                  </span>
                  <span class="search_title_wrapper" *ngIf="pricelte!=0 && pricegte!=0">
                    <span class="searched_title">
                      {{pricelte}} - {{pricegte}}
                    </span>
                    <i class="fa fa-close"
                      (click)="pricelte=0; pricegte = 0; this.resetRadioButton();advanceSearch()"></i>
                  </span>
                  <span class="search_title_wrapper" *ngIf="pricelte!=0 && pricegte==0">
                    <span class="searched_title">
                      Price less than {{pricelte}}
                    </span>
                    <i class="fa fa-close" (click)="pricelte=0; this.resetRadioButton();advanceSearch()"></i>
                  </span>
                </div>
                <div class="row">
                  <div class="dropdown input-field col-6">
                    <input placeholder="From Year" [ngModel]="yearlte" (focus)="suggestValueDropdown('yearslte',$event)"
                      (input)="suggestValueDropdown('yearslte',$event)" class="btn text-left btn-dropdown-toggle"
                      type="text" data-bs-toggle="dropdown" aria-expanded="false">

                    <ul class="dropdown-menu col-10 w-100 date_dropdown" aria-labelledby="dropdownMenuButton1">
                      <li *ngFor="let item of yearslte" (click)="this.yearlte = item"><a
                          class="dropdown-item">{{item}}</a></li>
                    </ul>
                  </div>
                  <div class="dropdown input-field col-6">
                    <input placeholder="To Year" [ngModel]="yeargte" (focus)="suggestValueDropdown('yearsgte',$event)"
                      (input)="suggestValueDropdown('yearsgte',$event)" class="btn text-left btn-dropdown-toggle"
                      type="text" data-bs-toggle="dropdown" aria-expanded="false">
                    <ul class="dropdown-menu col-10 w-100 date_dropdown" aria-labelledby="dropdownMenuButton1">
                      <li *ngFor="let item of yearsgte" (click)="this.yeargte = item"><a
                          class="dropdown-item">{{item}}</a></li>
                    </ul>
                  </div>
                </div>
                <div class="input-field col-12 ngb_dropdown position-relative">
                  <input *ngIf="makes && makes.length>0; else loadingMakesOverlay" onmouseover="this.select()"
                    id="typeahead-prevent-manual-entry" type="text" class="form-control" [(ngModel)]="make"
                    [ngbTypeahead]="searchMake" (input)="makefocus$.next($any($event).target.value)"
                    (blur)="this.getModels(make?.id)" (click)="makeclick$.next($any($event).target.value);"
                    #makeinstance="ngbTypeahead" [inputFormatter]="formatter" [resultFormatter]="formatter"
                    [editable]="false" placeholder="Select Makes" />
                  <ng-template #loadingMakesOverlay>
                    <div class="loadingDataOverlay"><span>Loading Makes <i class="fas fa-spinner fa-spin"></i></span>
                    </div>
                  </ng-template>
                </div>
                <div class="input-field col-12 ngb_dropdown position-relative">
                  <input *ngIf="models && models.length>0; else loadingModelsOverlay" onmouseover="this.select()"
                    id="typeahead-prevent-manual-entry" type="text" class="form-control" [(ngModel)]="model"
                    [ngbTypeahead]="searchModel" (input)="modelfocus$.next($any($event).target.value)"
                    (click)="modelclick$.next($any($event).target.value)" #modelinstance="ngbTypeahead"
                    [inputFormatter]="formatter" [resultFormatter]="formatter" [editable]="false"
                    placeholder="Select Model" />
                  <ng-template #loadingModelsOverlay>
                    <div class="loadingDataOverlay"><span>Loading Models <i class="fas fa-spinner fa-spin"></i></span>
                    </div>
                  </ng-template>
                </div>
                <div class="dropdown input-field">
                  <button class="btn btn-dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{bodyStyle?.name}}
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li value="New" class="disabled"><a class="dropdown-item">Select Body Style</a></li>
                    <li *ngFor="let item of bodyStyles" (click)="this.bodyStyle = item"><a
                        class="dropdown-item">{{item?.name}}</a></li>
                  </ul>
                </div>
                <div class="dropdown input-field">
                  <button class="btn btn-dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{condition}}
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li value="New" class="disabled"><a class="dropdown-item">Condition</a></li>
                    <li value="New" (click)="this.condition = 'New'"><a class="dropdown-item">New</a></li>
                    <li value="Used" (click)="this.condition = 'Used'"><a class="dropdown-item">Used</a></li>
                  </ul>
                </div>
                <div class="input-field col-12 ngb_dropdown position-relative">
                  <input *ngIf="colors && colors.length>0; else loadingDataOverlay" onmouseover="this.select()"
                    id="typeahead-prevent-manual-entry" type="text" class="form-control" [(ngModel)]="color"
                    [ngbTypeahead]="searchColor" (input)="colorfocus$.next($any($event).target.value)"
                    (click)="colorclick$.next($any($event).target.value)" #colorinstance="ngbTypeahead"
                    [inputFormatter]="formatter" [resultFormatter]="formatter" [editable]="false"
                    placeholder="Select Color" />
                  <ng-template #loadingDataOverlay>
                    <div class="loadingDataOverlay"><span>Loading Makes <i class="fas fa-spinner fa-spin"></i></span>
                    </div>
                  </ng-template>
                </div>
              </div>
              <!-- <div class="dashbord-left-inner-wrapper">
      <h6 class="dashbord-left-filter-title">Mileage</h6>
      <div class="row">
        <div class="col input-field">
          <input type="text" class="form-control" placeholder="Min" [(ngModel)]="mileagelte">
        </div>
        <div class="col input-field">
          <input type="text" class="form-control" placeholder="Max" [(ngModel)]="mileagegte">
        </div>
      </div>
    </div> -->
              <div class="dashbord-left-inner-wrapper">
                <h6 class="dashbord-left-filter-title">Price</h6>
                <div class="form-check">
                  <input class="form-check-input" type="radio" id="flexCheckChecked1" name="price_range"
                    (change)="pricelte=10000; customPriceSelection = false">
                  <label class="form-check-label" for="flexCheckChecked">
                    Below $10,000
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" id="flexCheckChecked2" type="radio" name="price_range"
                    (change)="pricelte=15000; customPriceSelection = false">
                  <label class="form-check-label" for="flexCheckDefault">
                    Below $15,000
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" id="flexCheckChecked3" type="radio" name="price_range"
                    (change)="pricelte=25000; customPriceSelection = false">
                  <label class="form-check-label" for="flexCheckDefault">
                    Below $25,000
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" id="flexCheckChecked4" type="radio" name="price_range"
                    (change)="customPriceSelection = true">
                  <label class="form-check-label" for="flexCheckDefault">
                    Custom
                  </label>
                </div>
                <ng-container *ngIf="customPriceSelection">
                  <div class="row">
                    <div class="col input-field">
                      <input type="number" class="form-control" placeholder="Min" min="1"
                        (focusout)="numberOnly($event)" [(ngModel)]="pricegte">
                    </div>
                    <div class="col input-field">
                      <input type="number" class="form-control" placeholder="Max" [(ngModel)]="pricelte">
                    </div>
                  </div>
                  <ngx-slider [(value)]="pricegte" [(highValue)]="pricelte" [options]="slider"></ngx-slider>
                </ng-container>
              </div>
              <!-- <div class="dashbord-left-inner-wrapper">
      <h6 class="dashbord-left-filter-title">Fuel Type</h6>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="flexCheckChecked" name="fuel_type" checked
          (change)="fuel_type='Diesel'">
        <label class="form-check-label" for="flexCheckChecked">
          Diesel
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="fuel_type" (change)="fuel_type='Petrol'">
        <label class="form-check-label" for="flexCheckDefault">
          Petrol
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="fuel_type" (change)="fuel_type='Electric'">
        <label class="form-check-label" for="flexCheckDefault">
          Electric
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="fuel_type" (change)="fuel_type='Hyrbid'">
        <label class="form-check-label" for="flexCheckDefault">
          Hyrbid
        </label>
      </div>
    </div> -->
              <!-- <div class="dashbord-left-inner-wrapper">
      <h6 class="dashbord-left-filter-title">Transmission</h6>
      <div class="form-check">
        <input class="form-check-input" type="checkbox">
        <label class="form-check-label" for="flexCheckDefault">
          Automatic (6,676)
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox">
        <label class="form-check-label" for="flexCheckChecked">
          Manual (9,784)
        </label>
      </div>
    </div>
    <div class="dashbord-left-inner-wrapper">
      <h6 class="dashbord-left-filter-title">Features</h6>
      <div class="form-check">
        <input class="form-check-input" type="checkbox">
        <label class="form-check-label" for="flexCheckDefault">
          Adaptive Cruise Control (6,676)
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox">
        <label class="form-check-label" for="flexCheckChecked">
          Cooled Seats (9,784)
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox">
        <label class="form-check-label" for="flexCheckDefault">
          Keyless Start (9,784)
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox">
        <label class="form-check-label" for="flexCheckChecked">
          Navigation System (9,784)
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox">
        <label class="form-check-label" for="flexCheckChecked">
          Remote Start (9,784)
        </label>
      </div>
    </div> -->
              <div class="dashbord-left-inner-wrapper">
                <div class="d-grid gap-2">
                  <button *ngIf="!showLoader" (click)="advanceSearch()" class="btn btn-lg btn-primary btn--primary"
                    type="button">Apply
                  </button>
                  <button *ngIf="showLoader" style="gap: 15px;" disabled class="btn btn-lg btn-primary btn--primary"
                    type="button">Loading Data
                    <i class="fas fa-spinner fa-spin"></i>
                  </button>
                  <!-- <button (click)="advanceSearch()" class="btn btn-lg btn-primary btn--primary" type="button">Apply</button> -->
                </div>
              </div>
            </div>
          </div>
          <!-- <app-car-listing-filter (searchedResults)="searchedResultsFunction($event)" (clearFilters)="clearFiltersEventFromChild($event)" [showLoader]="showLoader"></app-car-listing-filter> -->
        </div>
      </div>
      <div [ngClass]="showHideSearchFilters?'col-lg-9':'col-lg-12'">
        <div class="row position-relative">
          <div class="col-md-12">
            <div class="dashbord-right">
              <div class="dashboard-right-sorting-main">
                <div class="dashboard-right-sorting-left mt-2">
                  <p>We found <span>{{totalCount}}</span> Cars available for you
                    {{((searchedVehicle &&
                    searchedVehicle?.title) || (advanceSearchResults && searchedVehicle?.filters)) ? 'against your
                    search' :
                    ''}}
                    <!-- {{postal_address!=null?'against your zip code':''}} -->
                    {{(selectedVehicleType &&
                    selectedVehicleType?.name)?'against vehicle type':''}}
                    <span class="search_title_wrapper" *ngIf="selectedVehicleType && selectedVehicleType?.name">
                      <span class="searched_title">
                        {{selectedVehicleType?.name}}
                      </span>
                      <i class="fa fa-close" (click)="removeSearchFilter()"></i>
                    </span>
                    <span class="search_title_wrapper" *ngIf="searchedVehicle && searchedVehicle?.title">
                      <span class="searched_title">
                        {{searchedVehicle?.title}}
                      </span>
                      <i class="fa fa-close" (click)="removeSearchFilter()"></i>
                    </span>
                    <span class="search_title_wrapper" *ngIf="searchKeyword">
                      <span class="searched_title">
                        {{searchKeyword}}
                      </span>
                      <i class="fa fa-close" (click)="removeSearchFilter()"></i>
                    </span>
                    <!-- <span class="search_title_wrapper" *ngIf="postal_address!=null">
                      <span class="searched_title">
                        {{this.locationForm.controls.zip_code.value}}
                      </span>
                      <i class="fa fa-close" (click)="removeSearchFilter()"></i>
                    </span> -->
                    <!-- <span class="search_title_wrapper" *ngIf="advanceSearchResults && advanceSearchResults?.filters">
                      <span class="searched_title">
                        Click here to clear filters.
                      </span>
                      <i class="fa fa-close" (click)="removeSearchFilter()"></i>
                    </span> -->
                  </p>
                </div>
              </div>
              <div class="row" *ngIf="vehicles && vehicles?.length>0; else noCarsDataFound" infiniteScroll
                [infiniteScrollDistance]="0.5" (scrolled)="onScroll()">
                <div *ngFor="let vehicle of vehicles | sorting:sortingType:sortBy"
                  [ngClass]="showHideSearchFilters?'col-md-4 col-12':'col-md-3 col-12'" class="mb-3">
                  <app-car-card class="cards__card card mb-3" class="cards__card card " [car]="vehicle"></app-car-card>
                </div>
              </div>
              <ng-template #noCarsDataFound>
                <h2 class="error_msg">{{errorMessage}}</h2>
              </ng-template>
              <!-- <app-general-loader *ngIf="loadingData"></app-general-loader> -->
              <div class="showing-result">
                <output id="showing-result-output" class="showing-result-output">Showing {{vehicles?.length}} of
                  {{totalCount}} cars
                </output>
              </div>
              <a class="more-btn" *ngIf="loadingData">
                <span>{{vehicles && vehicles.length==0?'Loading items':'Loading more items'}}</span>
                <img src="assets/images/icons/loading-gif.gif" alt="load">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<ng-template #locationModal let-modal>
  <app-general-loader [msg]="'Loading vehicles, Please wait!'" *ngIf="showLoader==true"></app-general-loader>
  <div class="modal-header">
    <h5 class="modal-title text-dark">Change your location</h5>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true"><i class="fas fa-times"></i></span>
    </button>
  </div>
  <!-- Modal body -->
  <div class="modal-body">

    <!-- <div class="form-check d-flex align-items-center p-0">
      <main class="section section-main demo-form-iner w-100 bg-transparent">
        <section class="section " [formGroup]="locationForm">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-12">
                <label class="d-form-label">Distance</label>
                <div class="input-field">
                  <select formControlName="radius" class="form-select form-select-lg d-input-s" required>
                    <option *ngFor="let radius of radiusArray" [ngValue]="radius" selected>
                      {{radius=='Nationwide'?radius: radius +' Miles'}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <label class="d-form-label">Zip Code</label>
                <div class="input-field">
                  <input formControlName="zip_code" type="text" class="form-control d-input-f"
                    placeholder="Enter Zip Code">
                </div>
                <div class="form-control" *ngIf="zip_code?.invalid && (zip_code?.dirty || zip_code?.touched)"
                  class="alert alert-danger">
                  <div *ngIf="zip_code?.errors?.['required']">
                    Zip code is required.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div> -->
  </div>

  <!-- Modal footer -->
  <div class="modal-footer">
    <button type="button" class="btn btn-demo-started py-0 my-0 mx-2 btn-danger cancel_btn" (click)="closeModal()"
      data-bs-dismiss="modal">Cancel
    </button>
    <button type="button" class="btn btn-demo-started btn-danger p-0 m-0 submit_btn" data-bs-dismiss="modal"
      (click)="searchVehiclesAgainstZipCode()">Submit
    </button>
  </div>
</ng-template>








<ng-template #advanceSearchTemplateRef>
  <div class="modal-header filtersButtonMob">
    <h5 class="modal-title" id="exampleModalLabel">Advance Search Modal</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
  </div>
  <!-- zip code portion starts -->
  <div class="dashbord-left-inner-main modal-body">
    <div class="dashbord-left-inner">
      <div class="dashbord-left-inner-wrapper mb-1">
        <h6 class="dashbord-left-main-filter-title d-flex justify-content-between align-items-center">Zip Code
          Filter
          <a (click)="clearFiltersEvent()"
            class="btn btn--dashbord-left-reset w-auto text-decoration-underline">
            Reset Filter
          </a>
        </h6>
        <div class="applied_filters_wrapper">
          <span class="search_title_wrapper" *ngIf="locationForm.controls.zip_code.value">
            <span class="searched_title">
              Zip Code: {{locationForm.controls.zip_code.value}}
            </span>
            <i class="fa fa-close"
              (click)="this.locationForm.controls.zip_code.reset();this.clearFiltersEventFromChild('zipCodeSearch')"></i>
          </span>
          <span class="search_title_wrapper"
            *ngIf="locationForm.controls.radius.value && locationForm.controls.zip_code.value">
            <span class="searched_title"
              [ngStyle]="{'border-right':this.locationForm.controls.radius.value!='Nationwide' ? '1px solid black' : 'none' }">
              Radius:
              {{locationForm.controls.radius.value=='Nationwide'?locationForm.controls.radius.value:locationForm.controls.radius.value
              + ' Miles'}}
            </span>
            <i *ngIf="this.locationForm.controls.radius.value!='Nationwide'" class="fa fa-close"
              (click)="this.locationForm.controls.radius.reset();this.locationForm.controls.radius.setValue(this.radiusArray[10]);emitValueToParentToGetVehiclesAGainstZipCode()"></i>
          </span>
        </div>
        <div class="row" [formGroup]="locationForm">
          <div class="input-field col-12 ngb_dropdown position-relative">
            <input formControlName="zip_code" type="text" class="form-control" placeholder="Enter Zip Code">
            <div class="form-control" *ngIf="zip_code?.invalid && (zip_code?.dirty || zip_code?.touched)"
              class="alert alert-danger mt-2 mb-0">
              <div *ngIf="zip_code?.errors?.['required']">
                Zip code is required.
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="input-field">
              <select formControlName="radius" class="form-select form-select-lg d-input-s" required>
                <option *ngFor="let radius of radiusArray" [ngValue]="radius" selected>
                  {{radius=='Nationwide'?radius: radius +' Miles'}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="dashbord-left-inner-wrapper mb-1">
        <div class="d-grid gap-2">
          <button *ngIf="!showLoader" (click)="emitValueToParentToGetVehiclesAGainstZipCode()"
            class="btn btn-lg btn-primary btn--primary" type="button">Apply
          </button>
          <button *ngIf="showLoader" style="gap: 15px;" disabled class="btn btn-lg btn-primary btn--primary"
            type="button">Loading Data
            <i class="fas fa-spinner fa-spin"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- zip code portion ends -->
  <!-- Advance search portion -->
  <div class="dashbord-left-inner-main modal-body">
    <div class="dashbord-left-inner">
      <div class="dashbord-left-inner-wrapper">
        <h6 class="dashbord-left-main-filter-title d-flex justify-content-between align-items-center">Search
          Filters
          <a (click)="resetAllFilters()"
            class="btn btn--dashbord-left-reset w-auto text-decoration-underline">
            Reset Filter
          </a>
        </h6>
        <div class="applied_filters_wrapper">
          <span class="search_title_wrapper" *ngIf="make!=undefined">
            <span class="searched_title">
              {{make?.title}}
            </span>
            <i class="fa fa-close" (click)="make=undefined;advanceSearch()"></i>
          </span>
          <span class="search_title_wrapper" *ngIf="model!=undefined">
            <span class="searched_title">
              {{model?.title}}
            </span>
            <i class="fa fa-close" (click)="model=undefined;advanceSearch()"></i>
          </span>
          <span class="search_title_wrapper" *ngIf="bodyStyle.name!='Select Body Style'">
            <span class="searched_title">
              {{bodyStyle?.name}}
            </span>
            <i class="fa fa-close"
              (click)="bodyStyle={'name': 'Select Body Style','id': 0};advanceSearch()"></i>
          </span>
          <span class="search_title_wrapper" *ngIf="condition!='Condition'">
            <span class="searched_title">
              {{condition}}
            </span>
            <i class="fa fa-close" (click)="condition='Condition';advanceSearch()"></i>
          </span>
          <span class="search_title_wrapper" *ngIf="color!=undefined">
            <span class="searched_title">
              {{color?.title}}
            </span>
            <i class="fa fa-close" (click)="color=undefined;advanceSearch()"></i>
          </span>
          <span class="search_title_wrapper" *ngIf="yeargte!='' || yeargte!=''">
            <span class="searched_title">
              {{yearlte}} - {{yeargte}}
            </span>
            <i class="fa fa-close" (click)="yearlte=''; yeargte = '';advanceSearch()"></i>
          </span>
          <span class="search_title_wrapper" *ngIf="pricelte!=0 && pricegte!=0">
            <span class="searched_title">
              {{pricelte}} - {{pricegte}}
            </span>
            <i class="fa fa-close"
              (click)="pricelte=0; pricegte = 0; this.resetRadioButton();advanceSearch()"></i>
          </span>
          <span class="search_title_wrapper" *ngIf="pricelte!=0 && pricegte==0">
            <span class="searched_title">
              Price less than {{pricelte}}
            </span>
            <i class="fa fa-close" (click)="pricelte=0; this.resetRadioButton();advanceSearch()"></i>
          </span>
        </div>
        <div class="row">
          <div class="dropdown input-field col-6">
            <input placeholder="From Year" [ngModel]="yearlte"
              (focus)="suggestValueDropdown('yearslte',$event)"
              (input)="suggestValueDropdown('yearslte',$event)" class="btn text-left btn-dropdown-toggle"
              type="text" data-bs-toggle="dropdown" aria-expanded="false">

            <ul class="dropdown-menu col-10 w-100 date_dropdown" aria-labelledby="dropdownMenuButton1">
              <li *ngFor="let item of yearslte" (click)="this.yearlte = item"><a
                  class="dropdown-item">{{item}}</a></li>
            </ul>
          </div>
          <div class="dropdown input-field col-6">
            <input placeholder="To Year" [ngModel]="yeargte" (focus)="suggestValueDropdown('yearsgte',$event)"
              (input)="suggestValueDropdown('yearsgte',$event)" class="btn text-left btn-dropdown-toggle"
              type="text" data-bs-toggle="dropdown" aria-expanded="false">
            <ul class="dropdown-menu col-10 w-100 date_dropdown" aria-labelledby="dropdownMenuButton1">
              <li *ngFor="let item of yearsgte" (click)="this.yeargte = item"><a
                  class="dropdown-item">{{item}}</a></li>
            </ul>
          </div>
        </div>
        <div class="input-field col-12 ngb_dropdown position-relative">
          <input *ngIf="makes && makes.length>0; else loadingMakesOverlay" onmouseover="this.select()"
            id="typeahead-prevent-manual-entry" type="text" class="form-control" [(ngModel)]="make"
            [ngbTypeahead]="searchMake" (input)="makefocus$.next($any($event).target.value)"
            (blur)="this.getModels(make?.id)" (click)="makeclick$.next($any($event).target.value);"
            #makeinstance="ngbTypeahead" [inputFormatter]="formatter" [resultFormatter]="formatter"
            [editable]="false" placeholder="Select Makes" />
          <ng-template #loadingMakesOverlay>
            <div class="loadingDataOverlay"><span>Loading Makes <i class="fas fa-spinner fa-spin"></i></span>
            </div>
          </ng-template>
        </div>
        <div class="input-field col-12 ngb_dropdown position-relative">
          <input *ngIf="models && models.length>0; else loadingModelsOverlay" onmouseover="this.select()"
            id="typeahead-prevent-manual-entry" type="text" class="form-control" [(ngModel)]="model"
            [ngbTypeahead]="searchModel" (input)="modelfocus$.next($any($event).target.value)"
            (click)="modelclick$.next($any($event).target.value)" #modelinstance="ngbTypeahead"
            [inputFormatter]="formatter" [resultFormatter]="formatter" [editable]="false"
            placeholder="Select Model" />
          <ng-template #loadingModelsOverlay>
            <div class="loadingDataOverlay"><span>Loading Models <i class="fas fa-spinner fa-spin"></i></span>
            </div>
          </ng-template>
        </div>
        <div class="dropdown input-field">
          <button class="btn btn-dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            {{bodyStyle?.name}}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li value="New" class="disabled"><a class="dropdown-item">Select Body Style</a></li>
            <li *ngFor="let item of bodyStyles" (click)="this.bodyStyle = item"><a
                class="dropdown-item">{{item?.name}}</a></li>
          </ul>
        </div>
        <div class="dropdown input-field">
          <button class="btn btn-dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            {{condition}}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li value="New" class="disabled"><a class="dropdown-item">Condition</a></li>
            <li value="New" (click)="this.condition = 'New'"><a class="dropdown-item">New</a></li>
            <li value="Used" (click)="this.condition = 'Used'"><a class="dropdown-item">Used</a></li>
          </ul>
        </div>
        <div class="input-field col-12 ngb_dropdown position-relative">
          <input *ngIf="colors && colors.length>0; else loadingDataOverlay" onmouseover="this.select()"
            id="typeahead-prevent-manual-entry" type="text" class="form-control" [(ngModel)]="color"
            [ngbTypeahead]="searchColor" (input)="colorfocus$.next($any($event).target.value)"
            (click)="colorclick$.next($any($event).target.value)" #colorinstance="ngbTypeahead"
            [inputFormatter]="formatter" [resultFormatter]="formatter" [editable]="false"
            placeholder="Select Color" />
          <ng-template #loadingDataOverlay>
            <div class="loadingDataOverlay"><span>Loading Makes <i class="fas fa-spinner fa-spin"></i></span>
            </div>
          </ng-template>
        </div>
      </div>
      <div class="dashbord-left-inner-wrapper">
        <h6 class="dashbord-left-filter-title">Price</h6>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="flexCheckChecked1" name="price_range"
            (change)="pricelte=10000; customPriceSelection = false">
          <label class="form-check-label" for="flexCheckChecked">
            Below $10,000
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" id="flexCheckChecked2" type="radio" name="price_range"
            (change)="pricelte=15000; customPriceSelection = false">
          <label class="form-check-label" for="flexCheckDefault">
            Below $15,000
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" id="flexCheckChecked3" type="radio" name="price_range"
            (change)="pricelte=25000; customPriceSelection = false">
          <label class="form-check-label" for="flexCheckDefault">
            Below $25,000
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" id="flexCheckChecked4" type="radio" name="price_range"
            (change)="customPriceSelection = true">
          <label class="form-check-label" for="flexCheckDefault">
            Custom
          </label>
        </div>
        <ng-container *ngIf="customPriceSelection">
          <div class="row">
            <div class="col input-field">
              <input type="number" class="form-control" placeholder="Min" min="1"
                (focusout)="numberOnly($event)" [(ngModel)]="pricegte">
            </div>
            <div class="col input-field">
              <input type="number" class="form-control" placeholder="Max" [(ngModel)]="pricelte">
            </div>
          </div>
          <ngx-slider [(value)]="pricegte" [(highValue)]="pricelte" [options]="slider"></ngx-slider>
        </ng-container>
      </div>
      <div class="dashbord-left-inner-wrapper">
        <div class="d-grid gap-2">
          <button *ngIf="!showLoader" (click)="advanceSearch()" class="btn btn-lg btn-primary btn--primary"
            type="button">Apply
          </button>
          <button *ngIf="showLoader" style="gap: 15px;" disabled class="btn btn-lg btn-primary btn--primary"
            type="button">Loading Data
            <i class="fas fa-spinner fa-spin"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>