<div class="sorting-grid-box-sponsored-dealerships">
    <div class="row align-items-center">
        <div class="col-md-9">
            <div class="sorting-grid-box-sponsored-info">
                <h6 class="sponsored-sub-title">SPONSORED</h6>
                <h2 class="sponsored-main-title">Vehicle Available Now 20% Off</h2>
                <div class="sponsored-info-description">
                    <p>Find the right price, dealer and advice.</p>
                    <p>Terms & Conditions Apply</p>
                </div>                                                                                
            </div>
        </div>
        <div class="col-md-3 text-end">
            <a href="#" class="btn btn--grid-box-sponsored-dealerships">
                Call Today!
            </a>
        </div>
    </div>
    
</div>